<H1><strong>Exercise 2: Create markdown cell with title of the notebook</strong></H1>

<h1>Data Science Tools and Ecosystem</h1>

# **Exercise 10 - Insert a markdown cell to list Objectives**

# **Exercise 11 - Create a markdown cell to indicate the Author's name**

## **Objectives**:

* Popular languages in Data Science:
* Data Science Tools
* Commonly used libraries
* Arithmetic expressions in Python.

<h2> Author</h2>
Federico Javier Albesa

# **Exercise 3 - Create a markdown cell for an introduction**

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

# **Exercise 4 - Create a markdown cell to list data science languages**

<H2> Some of the popular languages that Data Scientists use are: </H2> 
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Julia</li>
    
</ol>

# **Exercise 5 - Create a markdown cell to list data science libraries**

## Some of the commonly used libraries used by Data Scientists include:

1) ggplot
2) Plotly
3) lattice
4) leaflet

# **Exercise 6 - Create a markdown cell with a table of Data Science tools**

| Data Science Tools    |
| -------- | 
| RStudio  | 
| Apache Spark | 
| TensorFlow |

# **Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

# **Exercise 8 - Create a code cell to multiply and add numbers**

In [4]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

# **Exercise 9 - Create a code cell to convert minutes to hours**

In [5]:
#This will convert 200 minutes to hours by diving by 60.

minutes = 200
hours = minutes / 60
display (hours)

3.3333333333333335